# Data images and generated annotations
data/Annots/*
data/ACDC/*
data/Annots/*
data/BDD100K/*
data/Cityscapes/*
data/Cityscapes_Foggy/*
data/IDD/*
data/URPC2019/*
data/gwhd_2021/*
weights
weights/*
temp
helpers/*.pkl
helpers/*.png
smoke_GWHD/*
__pycache__
lightning_logs

